.info {
  margin-top: 6px;
  color: gray;
  font-size: 10px;
}

.bubble {
  display: inline-block;
  background-color: #0cd1e8;
  border-radius: 18px;
  padding: 16px;
  color: white;
}

.others-bubble {
  display: inline-block;
  background-color: #28e070;
  border-radius: 18px;
  padding: 16px;
  color: white;
}

